MISTRAL_AGENT_ID=your_agent_id_here
MISTRAL_API_KEY=your_api_key_here
MISTRAL_MODEL=mistral-medium-latest
MISTRAL_URL=https://api.mistral.ai/v1/conversations

MONGO_SCHEME=...
MONGO_USER=...
MONGO_PASS=...
MONGO_HOST=...
MONGO_PORT=...

DB_NAME=...
